html,

/* -------------------
DEFAULTS FOR MOBILE LAYOUT
- Media Queries describe web layout
------------------- */

body {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-size: 17px;
  color: #527336;
  line-height: 1.5;
}

body {
  background: white;
  color: rgb(97, 97, 97);
}

h1 {
  font-family: "Mansalva", cursive;
}

h2 {
  padding-top: 5%;
  font-size: 40px;
}

p {
  align-content: center;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #90c23e;
  color: white;
  text-align: center;
  height: 3vh;
  position: fixed;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: eaf0cf;
  text-decoration: none;
}

/* -------------------
LANDING PAGE
------------------- */
/* header section */



header {
  position: static;
  top: 0;
  width: 100%;
  height: 25%;
}

header .button-container {
  display: block;
  margin: auto;
  margin-right: 15%;
  width: 100%;
  height: 5vh;
  padding: 5%;
}

header nav-steps {
  padding: 10%;
  display: block;
  margin: auto;
  width: 100%;
  height: 5vh;
}

.landing-header-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30%;
  padding: 20px;
  height: 10vh;
  justify-content: center;
}

img {
  width: 80%;
  height: 80%;
}

.container{
  margin:auto;
  padding:3%;
  padding-left:15%;
}
/* STEPS LEFT LAYOUT */

.list-container {
  /*centers steps-left*/
  margin: 0% 0% 0% 10%;
  width: 100%;
  padding: 10px;
}

li {
  width: 6em;
  height: 6em;
  text-align: center;
  line-height: 6em;
  border-radius: 6em;
  background: #90c23e;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
  font-size: 25px;
}

li::before {
  content: "";
  position: absolute;
  top: 3em;
  left: -5em;
  width: 5em;
  height: 0.5em;
  background: #90c23e;
  z-index: -3;
}

li:first-child::before {
  display: none;
}

.active {
  background: #90c23e;
}

.active ~ li {
  background: #eaf0cf;
}

.active ~ li::before {
  background: #eaf0cf;
}

/* LANDING PAGE CONTENT*/

.button-signup {
  background-color: #90c23e;
  border-color: black;
  border-radius: 90px;
  margin: auto;
  float: right;
  position: absolute;
  right: 50%;
  padding: 3%;
}

.button-signin {
  float: right;
  border-radius: 90px;
  background-color: #eaf0cf;
  margin: auto;
  position: absolute;
  right: 20%;
  padding: 3%;
}

.steps {
  background-color: white;
  color: #90c23e;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#stepper {
  padding: 4%;
  margin: 5%;
  font-size: 1vh;
}

#join .flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

.banner {
  height: 50vh;
  width: 100%;
  background-size: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1% 1%;
  color: white;
  background-color: rgba(255, 255, 255, 0.527);
}

.banner#top {
  background-image: url("../images/garlic-board.jpg");
  margin-top: 6%;
  background-size: 100%;
  height: 50%;
  width: 100%;
  background-size: cover;
}

.banner#top h1 {
  margin: 3%;
  font-size: 50px;
  line-height: 1;
  color: white;
}

.button {
  font-size: 80%;
  background-color: #90c23e;
  text-decoration: none;
  color: white;
  padding: 2% 1.5%;
  border-radius: 10px;
  margin: 3%;
  align-items: center;
  text-align: center;
  width: 30vw;
}

.button:hover{
  background: green;
}
.banner .button:hover {
  background: green;
  color: white;
  border: none;
}

.banner#bottom {
  background-image: url("../images/threefoodsies.jpg");
  align-content: center;
  width: 100%;
  background-size: cover;
}

#button a {
  display: block;
}

#info {
  padding: 5%;
  display: flex;
  flex-direction: column;
  border-color: white;
  color: #333434;
  align-items: center;
}

#info .box-1 {
  background-color: white;
  height: 30vh;
  color: #333434;
  padding: 1%;
}

#info .box-2 {
  margin: auto;
  text-align: center;
  font-size: 15px;
  padding:1%;
  background-image: url(/images/familybrekkie.jpg);
}

.box-2 {
  padding: 40% 10%;
  text-align: left;
  color: white;
  font-size: 40px;
}

#bignum {
  font-size: 5vh;
  font-family: "Mansalva", cursive;
  line-height: 1%;
}
/* -------------------
FORM PAGE-1
------------------- */

/* plan options for users*/
#plans {
  padding: 1%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  border-color: white;
  color: #333434;
  height: 100%;
  text-align: center;
  margin: 0;
  margin-top:20%;
}

#plans .left {
  padding: 5%;
  padding-top: 10%;
  align-content: center;
  background-image: url("../images/salmon.jpg");
  background-size: cover;
  height: 60%;
  line-height: 10%;
}

.classic {
  padding: 2px;
  align-content: center;
  font-size: 80px;
  color: white;
}
#plans .right {
  background-color: white;
  float: right;
  padding: 2px;
  height: 100vh;
  width: 100vw;
  align-content: center;
  background-size: cover;
}

.family {
  padding: 5%;
  padding-top: 10%;
  align-content: center;
  background-image: url("../images/familybrekkie.jpg");
  background-size: cover;
  height: 80%;
  font-size: 80px;
  line-height: 10%;
  color: white;
}

.vegetarian {
  padding-top: 10%;
  padding: 5%;
  background-image: url("../images/vegetarian.jpg");
  background-size: cover;
  height: 80%;
  font-size: 80px;
  line-height: 10%;
  color: white;
}

.selectbutton {
  width: 300px;
  height: 90px;
  background-color: #90c23e;
  border-radius: 20px;
  text-align: center;
  padding: 4%;
  padding-top: 13%;
  margin: auto;
  font-size: 70px;
}

.selectbutton:hover {
  background-color: green;
}


#discount {
  background-color: #90c23e;
  height: 5vh;
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 1.5%;
  width:100vw;
}

div p {
  padding: 15px;
}

/* -------------------
FORM PAGE-2
------------------- */

form {
  max-width: 1920px;
  margin-top: 20px;
  width: 100vw;
  align-content: left;
}

form * {
  box-sizing: border-box;
}

form .messages {
  flex: 0 0 100%;
  text-align: left;
  padding: 5px 0;
  color: #f2777d;
}

form .form-group.has-error > input,
form .form-group.has-error > select {
  border: 2px solid #f2777d;
}

form .form-group.has-success > input,
form .form-group.has-success > select {
  border: 2px solid #41a765;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1%;
}

.form-group label {
  align-items: left;
  padding-right: 20px;
  border-block-end-width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 250px;
  font-size: 100%;
}

label spam {
  display: block;
  font-size: 0.75em;
  opacity: 0.5;
}

label + * {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

input {
  padding: 15px;
  outline: none;
  border-radius: 90px;
}

.form-group button {
  width: 200px;
  padding: 15px;
  margin-left: auto;
  outline: none;
  border-radius: 90px;
  background-color: #90c23e;
  border-color: black;
  border-radius: 30px;
  right: 20%;
  padding-top: 30%;
  padding: 3%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2em;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  border: 2px;
  border-color: white;
  border-radius: 30px;
  background-color: rgba(236, 236, 236, 0.959);
  justify-content: center;
}

.flex-column img {
  width: 90%;
  margin-top: 30px;
  border-radius: 50%;
}

/* -------------------
FORM PAGE-3
------------------- */

.Address-form {
  width: 100%;
  height: 500px;
}
/* ADDRESS*/

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: auto;
  display: block;
  padding: 1%;
}

#locationField,
#controls {
  position: relative;
  width: 480px;
}
#autocomplete {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%;
}
.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
  font-family: "Roboto";
}
#address {
  border: 1px solid #000090;
  background-color: #f0f9ff;
  width: 100%;
  padding-right: 2px;
  height: 600px;
}
#address td {
  font-size: 10pt;
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#locationField {
  height: 20px;
  margin-bottom: 2px;
}

.box-3 {
  padding: 2%;
}

input {
  padding: 2%;
}

#country {
  border: #90c23e;
  border-style: solid;
  border-radius: 10px;
  width: 50vw;
}

main {
  width: 100%;
}

form {
  width: 100%;
}

form label {
  flex: 0;
  flex-basis: 100%;
  text-align: center;
  padding: 10px;
}

form label + * {
  flex: 0;
  padding: 1.5%;
}

form button {
  background-color: #90c23e;
  border-color: black;
  border-radius: 90px;
  margin: auto;
  float: right;
  position: absolute;
  right: 20%;
  padding: 1%;
  width: 100%;
}

.banner h1 {
  font-size: 500%;
}

.banner p {
  font-size: 80%;
  padding: 3%;
}


/* -------------------
FORM PAGE-4
------------------- */

.food-choice {
  padding: 10%;
  align-content: center;
  height: 40vh;
  width: 80%;
  margin: auto;
  size: 50%;
}

/*ENDING PAGE  */

.finish {
  padding: 20px;
  padding-top: 140px;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 35px;
}

/* ---------------------
MEDIA QUERIES 
--------------------- */

/* COMPUTERS */
@media only screen and (min-width: 1024px) {
  header {
    height: 30vh;
  }

  main {
    margin:0;
    width:100%;
  }

  .landing-header {
    display: flex;
    height: 10%;
    padding: 3%;
    margin: 1%;
    flex-direction: row;
  }
  .button-signup {
    right: 40%;
    padding: 1%;
  }

  .banner#top h1 {
    margin: 3%;
    font-size: 40px;
    line-height: 1;
    color: white;
  }

  .button-signin {
    right: 30%;
    padding: 1%;
  }

  #button {
    font-size: 1vw;
    width: 100%;
    margin: auto;
  }
  .flex-container {
    display: block;
  }

  .flex-column {
    width: 100%;
    margin: 30px;
  }

  .landing-header-item {
    padding: 0;
  }

  .landing-header-item img {
    width: 80%;
    height: 80%;
    margin: 0;
  }

  .nav button {
    overflow: hidden;
    display: block;
  }

  .stepper {
    padding: 0;
    margin: 0;
    line-height: 15%;
  }

  header .button-container {
    display: block;
    margin: auto;
    margin-top: 0;
    width: 100%;
    height: 1vh;
    padding: 5%;
  }

  #bignum {
    font-size: 200px;
    margin: 20%;
    line-height: 20vh;
  }

  #stepper {
    padding: 1%;
    margin: 1%;
    font-size: 1vh;
  }
  .banner .button {
    font-size: 20px;
    width: 20vw;
    padding: 0.5%;
  }

  .banner h1 {
    font-size: 800%;
    padding: 1% 5%;
  }

  .banner {
    height: 25vh;
  }

  #info {
    flex-direction: row;
    padding: 1%;
    margin:0;
    height:60vh;
  }

  .box-1 {
    padding:3%;
    padding-right:5%;
    padding-top:15%;
  }
  .box1 img {
    scale: 50%;
  }

  .banner#bottom {
    flex-direction: row;
  }


  /* STEPS LEFT LAYOUT */

    /*centers steps-left*/

  .list-container {

  margin:0;
  padding: 1%;
 }


 li {
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  border-radius: 6em;
  background: #90c23e;
  margin: 0 30px;
  display: inline-block;
  color: white;
  position: relative;
  font-size: 12px;
  padding:20px;
 }

 li::before {
  content: "";
  position: absolute;
  top: 35px;
  left: -8em;
  width: 12em;
  height: 0.5em;
  background: #90c23e;
  z-index: -3;
 }

 li:first-child::before {
  display: none;
 }

 .active {
  background: #90c23e;
 }

 .active ~ li {
  background: #eaf0cf;
 }

 .active ~ li::before {
  background: #eaf0cf;
 }

}